.login-logo  {
    padding-top: 220px;
    padding-bottom: 30px;
    background-image: url('images/CLNYLOGO.png');
    background-repeat: no-repeat;
    background-position: center top;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.login-box-body, .register-box-body {
    background-color: transparent; 
    }

.login-box-msg {
    visibility: hidden;
}

body {
    background-color: #000; 
    background-image: url('images/eve-online-cloud-ring-nebula.png');
    background-size: cover;
    }


login-box {
    background-color: #eca943; 
    }

hr { background-color: transparent; height: 0px; border: 0px;  }